In [163]:
# import libs
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [164]:
# init list of tickers
tickers = ['AAPL', 'MSFT', 'GOOGL', 'TSLA', 'NVDA', 'META', 'AVGO', 'GOOG', 'MU', 'LLY', 'UNH', 'BAC', 'AMAT', 'COST',
          'INTC', 'QCOM', 'HD', 'NKE', 'SBUX', 'CRM', 'V', 'XOM', 'ADBE', 'DIS', 'TXN']
tickers = sorted(tickers)
tickers

['AAPL',
 'ADBE',
 'AMAT',
 'AVGO',
 'BAC',
 'COST',
 'CRM',
 'DIS',
 'GOOG',
 'GOOGL',
 'HD',
 'INTC',
 'LLY',
 'META',
 'MSFT',
 'MU',
 'NKE',
 'NVDA',
 'QCOM',
 'SBUX',
 'TSLA',
 'TXN',
 'UNH',
 'V',
 'XOM']

In [165]:
# api call to get aggregate data for tickers

def get_stock_data(ticker, start_date, end_date):
    # Download the historical data for the ticker
    data = yf.download(ticker, start=start_date, end=end_date)
    
    # Keep only the Open and Close columns
    data = data[['Open', 'Close']]
    
    # Rename the columns to include the ticker name
    data.columns = [f'{ticker}_Open', f'{ticker}_Close']
    
    return data

In [166]:
# create a list of dfs for each ticker

def build_dfs(tickers):
    # Define the date range for the last 10 years
    end_date = pd.to_datetime('today')
    start_date = end_date - pd.DateOffset(years=10)
    
    dfs = []
    
    for ticker in tickers:
        data = get_stock_data(ticker, start_date, end_date)
        data = data.sort_values(by='Date', ascending=False)

        dfs.append(data)
    
    return dfs

In [167]:
stock_dfs = build_dfs(tickers)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [168]:
# have a look
len(stock_dfs)

25

In [169]:
stock_dfs[0].head()

             AAPL_Open  AAPL_Close
Date
2024-07-23  224.369995  225.009995
2024-07-22  227.009995  223.960007
2024-07-19  224.820007  224.309998
2024-07-18  230.279999  224.179993
2024-07-17  229.449997  228.880005

In [170]:
def check_null_locations(dfs, tickers):
    print(f"Checking for null values in tickers.")
    has_nulls = False
    for i, df in enumerate(dfs):
        
        has_nulls = df.isnull().values.any()
        if has_nulls:
            print(f"{tickers[i]} has null values!")
        
            null_locations = df.isnull()
            for col in null_locations.columns:
                null_rows = null_locations[null_locations[col]].index.tolist()
                if null_rows:
                    for row in null_rows:
                        print(f"Null value found at column '{col}', row index {row}")

    if not has_nulls:
        print("No null values found.")

In [171]:
# Check for null values and print locations
check_null_locations(stock_dfs, tickers)

Checking for null values in tickers.
No null values found.

In [172]:
# function calculate the slope 

def calculate_slope(df, ticker, duration):
    
    # Ensure the DataFrame is sorted by date in ascending order
    df = df.sort_values(by='Date', ascending=False)
    # Initialize the 'Slope' column with NaN values
    df[f'Slope_{duration}_Day'] = pd.NA
    
    # Iterate through the rows except the last one
    for i in range(len(df) - duration):
        y1 = df.iloc[i][f'{ticker}_Close']
        y2 = df.iloc[i + duration][f'{ticker}_Close']
        
        # Calculate rise and run
        rise = y2 - y1
        run = duration
        
        # Calculate slope and add it to the 'Slope' column
        slope = rise / run
        df.at[df.index[i], f'Slope_{duration}_Day'] = slope
        df[f'Slope_{duration}_Day'] = pd.to_numeric(df[f'Slope_{duration}_Day'], errors='coerce')
    
    return df

def calculate_slopes_for_dfs(dfs, tickers):
    updated_dfs = []
    for index, df in enumerate(dfs):
        ticker = tickers[index]
        # Calculate slopes for each duration from 1 to 50 days
        updated_df = df.copy()
        for duration in range(1, 6):
            updated_df = calculate_slope(updated_df, ticker, duration)
            # drop last row of each df
            for i in range(duration):
                # Check if the last row contains any null values
                if updated_df.iloc[-1].isnull().any():
                    # Drop the last row if it does not contain any null values
                    updated_df = updated_df.drop(updated_df.index[-1])


        updated_dfs.append(updated_df)
    return updated_dfs

In [173]:
stock_dfs = calculate_slopes_for_dfs(stock_dfs, tickers)

In [174]:
stock_dfs[0].head()

,AAPL_Open,AAPL_Close,Slope_1_Day,Slope_2_Day,Slope_3_Day,Slope_4_Day,Slope_5_Day
Date,,,,,,,
2024-07-23,224.369995,225.009995,-1.049988,-0.349998,-0.276667,0.967503,1.962003
2024-07-22,227.009995,223.960007,0.349991,0.109993,1.639999,2.715000,2.087997
2024-07-19,224.820007,224.309998,-0.130005,2.285004,3.503337,2.522499,1.245999
2024-07-18,230.279999,224.179993,4.700012,5.320007,3.406667,1.590000,0.678003
2024-07-17,229.449997,228.880005,5.940002,2.759995,0.553329,-0.327499,0.819998

In [175]:
stock_dfs[0].tail()

,AAPL_Open,AAPL_Close,Slope_1_Day,Slope_2_Day,Slope_3_Day,Slope_4_Day,Slope_5_Day
Date,,,,,,,
2014-08-20,25.110001,25.142500,-0.010000,-0.176250,-0.215833,-0.191875,-0.1665
2014-08-19,24.852501,25.132500,-0.342499,-0.318749,-0.252500,-0.205625,-0.2280
2014-08-18,24.622499,24.790001,-0.295000,-0.207500,-0.160000,-0.199375,-0.1585
2014-08-15,24.475000,24.495001,-0.120001,-0.092501,-0.167500,-0.124375,-0.1620
2014-08-14,24.332500,24.375000,-0.065001,-0.191250,-0.125834,-0.172500,-0.1510

In [176]:
stock_dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2501 entries, 2024-07-23 to 2014-08-14
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AAPL_Open    2501 non-null   float64
 1   AAPL_Close   2501 non-null   float64
 2   Slope_1_Day  2501 non-null   float64
 3   Slope_2_Day  2501 non-null   float64
 4   Slope_3_Day  2501 non-null   float64
 5   Slope_4_Day  2501 non-null   float64
 6   Slope_5_Day  2501 non-null   float64
dtypes: float64(7)
memory usage: 156.3 KB

In [177]:
def add_percent_change_columns(dfs):
    for df in dfs:
        df.sort_index(ascending=True, inplace=True)
        
        for col in df.columns:
            # Calculate the percent change
            df[f'{col}_pct_change'] = df[col].pct_change() * 100

        df.sort_index(ascending=False, inplace=True)

In [178]:
add_percent_change_columns(stock_dfs)

In [179]:
stock_dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2501 entries, 2024-07-23 to 2014-08-14
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AAPL_Open               2501 non-null   float64
 1   AAPL_Close              2501 non-null   float64
 2   Slope_1_Day             2501 non-null   float64
 3   Slope_2_Day             2501 non-null   float64
 4   Slope_3_Day             2501 non-null   float64
 5   Slope_4_Day             2501 non-null   float64
 6   Slope_5_Day             2501 non-null   float64
 7   AAPL_Open_pct_change    2500 non-null   float64
 8   AAPL_Close_pct_change   2500 non-null   float64
 9   Slope_1_Day_pct_change  2500 non-null   float64
 10  Slope_2_Day_pct_change  2500 non-null   float64
 11  Slope_3_Day_pct_change  2500 non-null   float64
 12  Slope_4_Day_pct_change  2500 non-null   float64
 13  Slope_5_Day_pct_change  2500 non-null   float64
dtypes: float64(14)
memory usage: 293.1 KB

In [180]:
stock_dfs[0].head()

,AAPL_Open,AAPL_Close,Slope_1_Day,Slope_2_Day,Slope_3_Day,Slope_4_Day,Slope_5_Day,AAPL_Open_pct_change,AAPL_Close_pct_change,Slope_1_Day_pct_change,Slope_2_Day_pct_change,Slope_3_Day_pct_change,Slope_4_Day_pct_change,Slope_5_Day_pct_change
Date,,,,,,,,,,,,,,
2024-07-23,224.369995,225.009995,-1.049988,-0.349998,-0.276667,0.967503,1.962003,-1.162944,0.468828,-400.004360,-418.200735,-116.869962,-64.364547,-6.034245
2024-07-22,227.009995,223.960007,0.349991,0.109993,1.639999,2.715000,2.087997,0.974107,-0.156030,-369.213615,-95.186311,-53.187501,7.631363,67.576153
2024-07-19,224.820007,224.309998,-0.130005,2.285004,3.503337,2.522499,1.245999,-2.371023,0.057991,-102.766054,-57.048862,2.837657,58.647726,83.774891
2024-07-18,230.279999,224.179993,4.700012,5.320007,3.406667,1.590000,0.678003,0.361735,-2.053483,-20.875248,92.754272,515.667025,-585.497135,-17.316531
2024-07-17,229.449997,228.880005,5.940002,2.759995,0.553329,-0.327499,0.819998,-2.361703,-2.529598,-1514.241081,-228.971283,-122.896392,-28.804929,-166.774936

In [181]:
stock_dfs[0].tail()

,AAPL_Open,AAPL_Close,Slope_1_Day,Slope_2_Day,Slope_3_Day,Slope_4_Day,Slope_5_Day,AAPL_Open_pct_change,AAPL_Close_pct_change,Slope_1_Day_pct_change,Slope_2_Day_pct_change,Slope_3_Day_pct_change,Slope_4_Day_pct_change,Slope_5_Day_pct_change
Date,,,,,,,,,,,,,,
2014-08-20,25.110001,25.142500,-0.010000,-0.176250,-0.215833,-0.191875,-0.1665,1.036112,0.039790,-97.080215,-44.705939,-14.521539,-6.686965,-26.973605
2014-08-19,24.852501,25.132500,-0.342499,-0.318749,-0.252500,-0.205625,-0.2280,0.934111,1.381601,16.101251,53.613843,57.811960,3.134746,43.848240
2014-08-18,24.622499,24.790001,-0.295000,-0.207500,-0.160000,-0.199375,-0.1585,0.602652,1.204328,145.831678,124.323154,-4.477425,60.301188,-2.160481
2014-08-15,24.475000,24.495001,-0.120001,-0.092501,-0.167500,-0.124375,-0.1620,0.585636,0.492311,84.615159,-51.633589,33.112536,-27.898408,7.285069
2014-08-14,24.332500,24.375000,-0.065001,-0.191250,-0.125834,-0.172500,-0.1510,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
# drop last row of each df
for i in range(len(stock_dfs)):
    df = stock_dfs[i]
    # Check if the last row contains any null values
    if df.iloc[-1].isnull().any():
        # Drop the last row if it does not contain any null values
        stock_dfs[i] = df.drop(df.index[-1])

In [183]:
stock_dfs[0].head()

,AAPL_Open,AAPL_Close,Slope_1_Day,Slope_2_Day,Slope_3_Day,Slope_4_Day,Slope_5_Day,AAPL_Open_pct_change,AAPL_Close_pct_change,Slope_1_Day_pct_change,Slope_2_Day_pct_change,Slope_3_Day_pct_change,Slope_4_Day_pct_change,Slope_5_Day_pct_change
Date,,,,,,,,,,,,,,
2024-07-23,224.369995,225.009995,-1.049988,-0.349998,-0.276667,0.967503,1.962003,-1.162944,0.468828,-400.004360,-418.200735,-116.869962,-64.364547,-6.034245
2024-07-22,227.009995,223.960007,0.349991,0.109993,1.639999,2.715000,2.087997,0.974107,-0.156030,-369.213615,-95.186311,-53.187501,7.631363,67.576153
2024-07-19,224.820007,224.309998,-0.130005,2.285004,3.503337,2.522499,1.245999,-2.371023,0.057991,-102.766054,-57.048862,2.837657,58.647726,83.774891
2024-07-18,230.279999,224.179993,4.700012,5.320007,3.406667,1.590000,0.678003,0.361735,-2.053483,-20.875248,92.754272,515.667025,-585.497135,-17.316531
2024-07-17,229.449997,228.880005,5.940002,2.759995,0.553329,-0.327499,0.819998,-2.361703,-2.529598,-1514.241081,-228.971283,-122.896392,-28.804929,-166.774936

In [184]:
stock_dfs[0].tail()

,AAPL_Open,AAPL_Close,Slope_1_Day,Slope_2_Day,Slope_3_Day,Slope_4_Day,Slope_5_Day,AAPL_Open_pct_change,AAPL_Close_pct_change,Slope_1_Day_pct_change,Slope_2_Day_pct_change,Slope_3_Day_pct_change,Slope_4_Day_pct_change,Slope_5_Day_pct_change
Date,,,,,,,,,,,,,,
2014-08-21,25.142500,25.145000,-0.002501,-0.006250,-0.118333,-0.162500,-0.1540,0.129428,0.009945,-74.995232,-96.453674,-45.173738,-15.309488,-7.507503
2014-08-20,25.110001,25.142500,-0.010000,-0.176250,-0.215833,-0.191875,-0.1665,1.036112,0.039790,-97.080215,-44.705939,-14.521539,-6.686965,-26.973605
2014-08-19,24.852501,25.132500,-0.342499,-0.318749,-0.252500,-0.205625,-0.2280,0.934111,1.381601,16.101251,53.613843,57.811960,3.134746,43.848240
2014-08-18,24.622499,24.790001,-0.295000,-0.207500,-0.160000,-0.199375,-0.1585,0.602652,1.204328,145.831678,124.323154,-4.477425,60.301188,-2.160481
2014-08-15,24.475000,24.495001,-0.120001,-0.092501,-0.167500,-0.124375,-0.1620,0.585636,0.492311,84.615159,-51.633589,33.112536,-27.898408,7.285069

In [185]:
stock_dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500 entries, 2024-07-23 to 2014-08-15
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AAPL_Open               2500 non-null   float64
 1   AAPL_Close              2500 non-null   float64
 2   Slope_1_Day             2500 non-null   float64
 3   Slope_2_Day             2500 non-null   float64
 4   Slope_3_Day             2500 non-null   float64
 5   Slope_4_Day             2500 non-null   float64
 6   Slope_5_Day             2500 non-null   float64
 7   AAPL_Open_pct_change    2500 non-null   float64
 8   AAPL_Close_pct_change   2500 non-null   float64
 9   Slope_1_Day_pct_change  2500 non-null   float64
 10  Slope_2_Day_pct_change  2500 non-null   float64
 11  Slope_3_Day_pct_change  2500 non-null   float64
 12  Slope_4_Day_pct_change  2500 non-null   float64
 13  Slope_5_Day_pct_change  2500 non-null   float64
dtypes: float64(14)
memory usage: 293.0 KB

In [186]:
# Check for null values and print locations
check_null_locations(stock_dfs, tickers)

Checking for null values in tickers.
No null values found.

In [187]:
def count_inf_rows(dfs, tickers):
    count_inf = []
    for i in range(len(dfs)):
        # Check for inf or -inf values
        inf_rows = dfs[i].isin([np.inf, -np.inf])
        # Count the number of rows with inf or -inf
        num_inf_rows = inf_rows.any(axis=1).sum()
        # Format the result string
        inf_str = f'{tickers[i]} inf rows: {num_inf_rows}'
        count_inf.append(inf_str)
    
    return count_inf

count_inf = count_inf_rows(stock_dfs, tickers)

for inf in count_inf:
    print(inf)

AAPL inf rows: 17
ADBE inf rows: 14
AMAT inf rows: 32
AVGO inf rows: 5
BAC inf rows: 91
COST inf rows: 13
CRM inf rows: 18
DIS inf rows: 26
GOOG inf rows: 8
GOOGL inf rows: 7
HD inf rows: 15
INTC inf rows: 43
LLY inf rows: 28
META inf rows: 15
MSFT inf rows: 33
MU inf rows: 40
NKE inf rows: 36
NVDA inf rows: 22
QCOM inf rows: 22
SBUX inf rows: 41
TSLA inf rows: 6
TXN inf rows: 36
UNH inf rows: 13
V inf rows: 30
XOM inf rows: 33

In [188]:
for i in range(len(stock_dfs)):
    stock_dfs[i].replace([np.inf, -np.inf], np.nan, inplace=True)
    df_clean = stock_dfs[i].dropna()

In [189]:
count_inf = count_inf_rows(stock_dfs, tickers)

for inf in count_inf:
    print(inf)

AAPL inf rows: 0
ADBE inf rows: 0
AMAT inf rows: 0
AVGO inf rows: 0
BAC inf rows: 0
COST inf rows: 0
CRM inf rows: 0
DIS inf rows: 0
GOOG inf rows: 0
GOOGL inf rows: 0
HD inf rows: 0
INTC inf rows: 0
LLY inf rows: 0
META inf rows: 0
MSFT inf rows: 0
MU inf rows: 0
NKE inf rows: 0
NVDA inf rows: 0
QCOM inf rows: 0
SBUX inf rows: 0
TSLA inf rows: 0
TXN inf rows: 0
UNH inf rows: 0
V inf rows: 0
XOM inf rows: 0

In [202]:
def correlate_dfs(dfs, tickers):
    corr_scores = []
    for i in range(len(dfs)):
        for col in dfs[i].columns:
            if col.startswith('Slope_') and col.endswith('_pct_change'):
                corr = dfs[i][f'{tickers[i]}_Close_pct_change'].corr(dfs[i][f'{col}'])
                corr_scores.append((f'{col} correlation to {tickers[i]}', corr))

    return corr_scores

In [204]:
correlations = correlate_dfs(stock_dfs, tickers)

for corr in correlations:
    print(corr)

('Slope_1_Day_pct_change correlation to AAPL', -0.01643040379415558)
('Slope_2_Day_pct_change correlation to AAPL', -0.03289785687375891)
('Slope_3_Day_pct_change correlation to AAPL', -0.05138520722168169)
('Slope_4_Day_pct_change correlation to AAPL', -0.0016456156573539627)
('Slope_5_Day_pct_change correlation to AAPL', 0.03598329832049714)
('Slope_1_Day_pct_change correlation to ADBE', 0.026522781668130553)
('Slope_2_Day_pct_change correlation to ADBE', -0.028293495389953235)
('Slope_3_Day_pct_change correlation to ADBE', 0.02340151887651295)
('Slope_4_Day_pct_change correlation to ADBE', -0.038527109620748526)
('Slope_5_Day_pct_change correlation to ADBE', 0.020824037760137117)
('Slope_1_Day_pct_change correlation to AMAT', -0.05036642218182798)
('Slope_2_Day_pct_change correlation to AMAT', -0.06638236394126132)
('Slope_3_Day_pct_change correlation to AMAT', 0.00573808075184801)
('Slope_4_Day_pct_change correlation to AMAT', 0.0030173149263750918)
('Slope_5_Day_pct_change correlation to AMAT', -0.02019729786577858)
('Slope_1_Day_pct_change correlation to AVGO', 0.008142282943968912)
('Slope_2_Day_pct_change correlation to AVGO', -0.059126624936539376)
('Slope_3_Day_pct_change correlation to AVGO', 0.005596638918481524)
('Slope_4_Day_pct_change correlation to AVGO', 0.006813994385941748)
('Slope_5_Day_pct_change correlation to AVGO', -0.0033544117885592087)
('Slope_1_Day_pct_change correlation to BAC', 0.007881455242662433)
('Slope_2_Day_pct_change correlation to BAC', -0.02484299180318913)
('Slope_3_Day_pct_change correlation to BAC', 0.0072490890975226725)
('Slope_4_Day_pct_change correlation to BAC', -0.06515959094556881)
('Slope_5_Day_pct_change correlation to BAC', 0.011985683358444037)
('Slope_1_Day_pct_change correlation to COST', -0.04709397618026087)
('Slope_2_Day_pct_change correlation to COST', 0.12579181296685382)
('Slope_3_Day_pct_change correlation to COST', 0.043590915173787985)
('Slope_4_Day_pct_change correlation to COST', 0.03735963197025147)
('Slope_5_Day_pct_change correlation to COST', -0.035092821049272055)
('Slope_1_Day_pct_change correlation to CRM', -0.04275689956816202)
('Slope_2_Day_pct_change correlation to CRM', 0.03667720772120943)
('Slope_3_Day_pct_change correlation to CRM', -0.03350039163670528)
('Slope_4_Day_pct_change correlation to CRM', 0.023440259863707888)
('Slope_5_Day_pct_change correlation to CRM', -0.02465230122170692)
('Slope_1_Day_pct_change correlation to DIS', -0.03541557264925609)
('Slope_2_Day_pct_change correlation to DIS', 0.04030443159672805)
('Slope_3_Day_pct_change correlation to DIS', 0.027171163149588156)
('Slope_4_Day_pct_change correlation to DIS', 0.006063042962382367)
('Slope_5_Day_pct_change correlation to DIS', 0.005937140051708912)
('Slope_1_Day_pct_change correlation to GOOG', -0.02569842023921381)
('Slope_2_Day_pct_change correlation to GOOG', -0.0405587237134936)
('Slope_3_Day_pct_change correlation to GOOG', -0.014378129618640574)
('Slope_4_Day_pct_change correlation to GOOG', 0.07345761030614378)
('Slope_5_Day_pct_change correlation to GOOG', 0.001378312320377107)
('Slope_1_Day_pct_change correlation to GOOGL', -0.08067069926698632)
('Slope_2_Day_pct_change correlation to GOOGL', -0.03765351409025347)
('Slope_3_Day_pct_change correlation to GOOGL', -0.03943446270343135)
('Slope_4_Day_pct_change correlation to GOOGL', -0.017012049276999237)
('Slope_5_Day_pct_change correlation to GOOGL', -0.06031253917773235)
('Slope_1_Day_pct_change correlation to HD', 6.817840327328426e-05)
('Slope_2_Day_pct_change correlation to HD', 0.058575370816804875)
('Slope_3_Day_pct_change correlation to HD', 0.03321516853346412)
('Slope_4_Day_pct_change correlation to HD', 0.04578013908431623)
('Slope_5_Day_pct_change correlation to HD', -0.0003763883856827974)
('Slope_1_Day_pct_change correlation to INTC', -0.03271262306539926)
('Slope_2_Day_pct_change correlation to INTC', -0.04444770203666826)
('Slope_3_Day_pct_change correlation to INTC', 0.030365079782651412)
('Slope_4_Day_pct_change correlation to INTC', 0.031883405738467256)
('Slope_5_Day_pct_change correlation to INTC', 0.054304188871253274)
('Slope_1_Day_pct_change correlation to LLY', 0.005284937796129892)
('Slope_2_Day_pct_change correlation to LLY', 0.012639785289338649)
('Slope_3_Day_pct_change correlation to LLY', -0.012351166713396821)
('Slope_4_Day_pct_change correlation to LLY', 0.027162725384733116)
('Slope_5_Day_pct_change correlation to LLY', -0.0522213184712169)
('Slope_1_Day_pct_change correlation to META', 0.05628523124202834)
('Slope_2_Day_pct_change correlation to META', 0.15647264260468688)
('Slope_3_Day_pct_change correlation to META', 0.013303274276804968)
('Slope_4_Day_pct_change correlation to META', 0.038559299641733165)
('Slope_5_Day_pct_change correlation to META', 0.031034132308292148)
('Slope_1_Day_pct_change correlation to MSFT', -0.027276102494026677)
('Slope_2_Day_pct_change correlation to MSFT', 0.030841430990049264)
('Slope_3_Day_pct_change correlation to MSFT', 0.003921495506814804)
('Slope_4_Day_pct_change correlation to MSFT', 0.002231526711807273)
('Slope_5_Day_pct_change correlation to MSFT', -0.010501086087871194)
('Slope_1_Day_pct_change correlation to MU', -0.009210883293441835)
('Slope_2_Day_pct_change correlation to MU', 0.018498942741545843)
('Slope_3_Day_pct_change correlation to MU', -0.06585389836357979)
('Slope_4_Day_pct_change correlation to MU', -0.020585806502886203)
('Slope_5_Day_pct_change correlation to MU', -0.0349542223185188)
('Slope_1_Day_pct_change correlation to NKE', 0.04176523443836419)
('Slope_2_Day_pct_change correlation to NKE', -0.13470002771252085)
('Slope_3_Day_pct_change correlation to NKE', 0.023464613617685943)
('Slope_4_Day_pct_change correlation to NKE', 0.020344327652551692)
('Slope_5_Day_pct_change correlation to NKE', -0.04647211414581312)
('Slope_1_Day_pct_change correlation to NVDA', 0.012046611296933024)
('Slope_2_Day_pct_change correlation to NVDA', -0.05528376546701308)
('Slope_3_Day_pct_change correlation to NVDA', 0.007338556832141931)
('Slope_4_Day_pct_change correlation to NVDA', 0.0376597627469391)
('Slope_5_Day_pct_change correlation to NVDA', -0.010688996764702495)
('Slope_1_Day_pct_change correlation to QCOM', 0.039569522752827206)
('Slope_2_Day_pct_change correlation to QCOM', -0.023946047711553953)
('Slope_3_Day_pct_change correlation to QCOM', 0.04038616114338176)
('Slope_4_Day_pct_change correlation to QCOM', 0.03687437520661234)
('Slope_5_Day_pct_change correlation to QCOM', -0.1098258010095816)
('Slope_1_Day_pct_change correlation to SBUX', 0.0164016918685867)
('Slope_2_Day_pct_change correlation to SBUX', 0.10645062386119311)
('Slope_3_Day_pct_change correlation to SBUX', 0.033872174378389325)
('Slope_4_Day_pct_change correlation to SBUX', -0.030007960194781323)
('Slope_5_Day_pct_change correlation to SBUX', -0.001596038841283677)
('Slope_1_Day_pct_change correlation to TSLA', 0.016069796504464565)
('Slope_2_Day_pct_change correlation to TSLA', -0.016256385636193763)
('Slope_3_Day_pct_change correlation to TSLA', -0.0019220828208633836)
('Slope_4_Day_pct_change correlation to TSLA', 0.001012936872051252)
('Slope_5_Day_pct_change correlation to TSLA', 0.029243469703073992)
('Slope_1_Day_pct_change correlation to TXN', -0.042395678939151415)
('Slope_2_Day_pct_change correlation to TXN', 0.05920439996934678)
('Slope_3_Day_pct_change correlation to TXN', 0.0019354350828715582)
('Slope_4_Day_pct_change correlation to TXN', 0.0421070912132566)
('Slope_5_Day_pct_change correlation to TXN', 0.01970305280289251)
('Slope_1_Day_pct_change correlation to UNH', 0.01816681763270103)
('Slope_2_Day_pct_change correlation to UNH', 0.012650550187852258)
('Slope_3_Day_pct_change correlation to UNH', 0.049760120608753365)
('Slope_4_Day_pct_change correlation to UNH', -0.0025144246792487856)
('Slope_5_Day_pct_change correlation to UNH', -0.03003536066948444)
('Slope_1_Day_pct_change correlation to V', 0.005847868574896846)
('Slope_2_Day_pct_change correlation to V', 0.01628998842650263)
('Slope_3_Day_pct_change correlation to V', 0.012686341586779958)
('Slope_4_Day_pct_change correlation to V', 0.039663664103296345)
('Slope_5_Day_pct_change correlation to V', -0.004432783610469261)
('Slope_1_Day_pct_change correlation to XOM', -0.025442007974811304)
('Slope_2_Day_pct_change correlation to XOM', -0.07167002964775891)
('Slope_3_Day_pct_change correlation to XOM', -0.009261612314220838)
('Slope_4_Day_pct_change correlation to XOM', 0.01579166247823197)
('Slope_5_Day_pct_change correlation to XOM', -0.027872717922864644)

In [208]:
def top_n_correlations(corr_scores, n=10):
    # Sort the list of tuples by the correlation value in descending order
    sorted_corr_scores = sorted(corr_scores, key=lambda x: x[1], reverse=True)
    # Get the top n tuples
    top_n_scores = sorted_corr_scores[:n]
    return top_n_scores

In [209]:
top_10_corr_scores = top_n_correlations(correlations, n=10)
top_10_corr_scores

[('Slope_2_Day_pct_change correlation to META', 0.15647264260468688),
 ('Slope_2_Day_pct_change correlation to COST', 0.12579181296685382),
 ('Slope_2_Day_pct_change correlation to SBUX', 0.10645062386119311),
 ('Slope_4_Day_pct_change correlation to GOOG', 0.07345761030614378),
 ('Slope_2_Day_pct_change correlation to TXN', 0.05920439996934678),
 ('Slope_2_Day_pct_change correlation to HD', 0.058575370816804875),
 ('Slope_1_Day_pct_change correlation to META', 0.05628523124202834),
 ('Slope_5_Day_pct_change correlation to INTC', 0.054304188871253274),
 ('Slope_3_Day_pct_change correlation to UNH', 0.049760120608753365),
 ('Slope_4_Day_pct_change correlation to HD', 0.04578013908431623)]

In [6]:
# visualize the results (or the best over a threshold)

In [7]:
# build a function that will back test trading on slope correlation